rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if resource.data.medic
        || get(/databases/(default)/documents/users/$(request.auth.uid)).data.staff
        || request.auth.uid == user;
      allow write: if request.auth.uid == user
        && !request.resource.data.staff
        && request.resource.data.email == request.auth.token.email;
    }
    match /products/{document=**} {
      allow read: if request.auth != null;
      allow write: if get(/databases/(default)/documents/users/$(request.auth.uid)).data.staff;
    }
    match /sections/{document=**} {
      allow read: if request.auth != null;
      allow write: if get(/databases/(default)/documents/users/$(request.auth.uid)).data.staff;
    }
    match /appointments/{document=**} {
      allow read: if request.auth != null;
      allow write: if get(/databases/(default)/documents/users/$(request.auth.uid)).data.staff;
    }
    match /locations/{document=**} {
      allow read: if request.auth != null;
      allow write: if get(/databases/(default)/documents/users/$(request.auth.uid)).data.staff;
    }
  }
}
